<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" href="/css/shop.css"/>
<%- include('../includes/navigation.ejs')%>
    <main class="shop">
        <h1 class="shop-header" >Cart</h1>
        <p> all products in cart go here</p>
        <div class="cards">
            <% if (cart.cart.length !==0) { %>
                <% for (let product of cart.cart){ %>
                    <div class="card">
                        <div class="card-main">
                            <h3 class="card-head"><%= product.title %></h3> 
                            <p class="card-price"> /- <%= product.price %></p>
                        </div>
                        <img class="card-image" src="<%= product.imageurl %>" alt="card-image"/>
                        <p class="card-desc"> <%= product.description %></p>
                        

                        <diV class="card-controls">
                            <p>Quantity : <%= product["cart-item"].quantity%></p>
                            <form action="/delete-cart-product/<%= product.id %>" method="POST">
                                <button class="button" type="submit">Delete</button>
                            </form>
                        </diV>
                    </div>
                    <% } %>
                    
            <% } else { %>
                <h3>No Products in Cart</h3> 
                <%}%>



            </div>
            <% if (cart.cart.length !==0) { %>
                <hr/>
            <form class="centered" action="/order" method="POST">
                <button class="button" type="submit">Order Now</button>
            </form>
            <% } %>
        </main>

<%- include('../includes/end.ejs')%>
