<%- include('../includes/start.ejs') %>
    <link rel="stylesheet" href="/css/shop.css"/>
<%- include('../includes/navigation.ejs')%>
    <main class="shop">
        <h1 class="shop-header" >Products</h1>
        <p> all products go here</p>
        <div class="cards">
            <% if (prods.length !==0) { %>
                <% for (let product of prods){ %>
                    <div class="card">
                        <div class="card-main">
                            <h3 class="card-head"><%= product.title %></h3> 
                            <p class="card-price"> /- <%= product.price %></p>
                        </div>
                        <img class="card-image" src="<%= product.imgUrl %>" alt="card-image"/>
                        <p class="card-desc"> <%= product.description %></p>
                        <div class="card-add-to-cart">
                            <form action="add-to-cart">
                                <button class="button"> Add to Cart</button>
                            </form>
                        </div>
                    </div>
                    <% } %>

            <% } else { %>
                <h3>No Products</h3> 
                <%}%>

            </div>
        </main>

<%- include('../includes/end.ejs')%>
