</head>
<body>
    <nav class="nav">
        <h4 class="nav-header">RedEye</h4>
        <ul class="nav-links ">
            <li class=" <%=  path==='/'?'active nav-link':'nav-link' %>"><a href="/">

                Shop
            </a>
            <li class=" <%=  path==='/products'?'active nav-link':'nav-link' %>"><a href="/products">

                Products
            </a>
            </li>
            <li class="<%= path==='/admin/add-product'?'active nav-link':'nav-link' %>">
                <a href="/admin/add-product">
                    Add Product
                </a>
            </li>
            <li class="<%= path==='/cart'?'active nav-link':'nav-link' %>">
                <a href="/cart">
                    Cart
                </a>
            </li>
            <li class="<%= path==='/order'?'active nav-link':'nav-link' %>">
                <a href="/order">
                    Order
                </a>
            </li>
          
            <li class="<%= path==='/admin/products'?'active nav-link':'nav-link' %>">
                <a href="/admin/products">
                    Products
                </a>
            </li>
            
           
        </ul>
    </nav>